include layout.jade
include mixins.jade

block header
    .parallax
        .static(style='background:#aeaeae')
            p#title Tarik Onalan

block intro
    div(style='height:100%;background:#2bc747;position:relative;')
