doctype html
html(lang='en')
head
    title='Tarik Onalan'
    
    link(href='style.css', rel='stylesheet')
    
    script(src='js/jquery-1.11.1.min.js')
    script(src='js/d3.min.js')
body
    block content
    script.
        var width  = $(window).width()
            height = $(window).height()
            
        console.log($.getJSON('res/colors.json'))
        
        var color = $.getJSON('res/colors.json')
