html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

section#intro
{
    position: relative;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Questrial', sans-serif;
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 95%;
}

p#name
{
    position: absolute;
    color: #ecf0f1;
    left: 50%;
    top: 40%;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    -webkit-animation: fadein 1.5s;
       -moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s;
         -o-animation: fadein 1.5s;
            animation: fadein 1.5s;
}

@keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}

@-moz-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}

@-webkit-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}

@-ms-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}​

@-o-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}​
