---
---

@import url('//fonts.googleapis.com/css?family=Questrial');

html, body
{
    font-family:'Questrial';

    padding:0;
    margin:0;

    height:100%;

    -webkit-font-smoothing: subpixel-antialiased;
}

#content
{
    position: relative;

    height: 100%;
    width: 100%;

    text-align: center;

    background: #1b1b1b;

    span.name
    {
        position: relative;

        margin: auto;
        top: 40%;

        font-size: 80px;
        color: #868686;
        opacity: 50%;
    }

    svg
    {
        position: absolute;
        left: 0%;

        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .link {
            stroke: #bbb;
            fill: none;
        }

        .d3-tip {
            line-height: 1;
            font-weight: bold;
            padding: 12px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            border-radius: 2px;
        }

        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
        }
    }
}
