---
---

@import url('//fonts.googleapis.com/css?family=Questrial');

html, body
{
    font-family:'Questrial';

    padding:0;
    margin:0;

    height:100%;

    -webkit-font-smoothing: subpixel-antialiased;
}

#content
{
    position: relative;

    height: 100%;
    width: 100%;

    text-align: center;

    background: #1b1b1b;

    span.name
    {
        position: relative;

        margin: auto;
        top: 40%;

        font-size: 80px;
        color: #868686;
        opacity: 50%;
    }

    svg
    {
        position: absolute;
        left: 0%;

        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .link {
            stroke: #bbb;
            fill: none;
        }
    }
}
