---
---

@import url('//fonts.googleapis.com/css?family=Muli');

html, body
{
    font-family:'Muli';

    padding:0;
    margin:0;

    height:100%;

    -webkit-font-smoothing:subpixel-antialiased;
}

.parallax
{
    position:relative;

    height:100%;
    z-index:-1;
    .static
    {
        position:fixed;

        height:100%;
        width:100%;
    }
}

p
{
    position:relative;
}

p#title
{
    font-size:70px;
}

p#info
{
    font-size:35px;
}
