html, body
{
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

a, img
{
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    border: none;
}

p
{
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

section
{
    width: 100%;
    height: 100%;
}

svg#fractal {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -7.5%;
}

svg path.dragon {
    stroke: #e74c3c;
    stroke-width: 2;

    -webkit-animation: colorize 15s infinite;
       -moz-animation: colorize 15s infinite;
        -ms-animation: colorize 15s infinite;
         -o-animation: colorize 15s infinite;
            animation: colorize 15s infinite;
}

section#intro
{
    position: relative;
    overflow: hidden;
    background-color: #000000;
    font-size: 60px;
    text-align: center;
}

section#about
{
    position: relative;
    overflow: hidden;
    background-color: #95a5a6;
    font-family: 'Questrial', sans-serif;
    font-size: 45px;
    text-align: center;
}

p#name
{
    position: absolute;
    color: #ecf0f1;
    left: 50%;
    top: 40%;

    -webkit-animation: fadein 1.5s;
       -moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s;
         -o-animation: fadein 1.5s;
            animation: fadein 1.5s;
}

.icon-container
{
    position: absolute;
    text-align: center;
    border: 5px solid rgba(149, 165, 166, 0.5);
    border-radius: 50%;
    background-color: #000000;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 90%;

    -webkit-transition: background-color 0.75s;
       -moz-transition: background-color 0.75s;
        -ms-transition: background-color 0.75s;
         -o-transition: background-color 0.75s;
            transition: background-color 0.75s;
}

.icon-container:hover
{
    background-color: #bdc3c7;
}

.icon-container img.transition
{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 50%;
    top: 20%;

    -webkit-transition: all 0.75s;
       -moz-transition: all 0.75s;
        -ms-transition: all 0.75s;
         -o-transition: all 0.75s;
            transition: all 0.75s;
}

.icon-container:hover img.transition
{
    top: 35%;
}

@keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}

@-moz-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}

@-webkit-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}

@-ms-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}​

@-o-keyframes fadein
{
    from { opacity: 0; top: 41.5%; }
    to { opacity: 1; top: 40%; }
}​

@keyframes colorize
{
    0% { stroke: #e74c3c; }
    33% { stroke: #2ecc71; }
    66% { stroke: #3498db; }
    100% { stroke: #e74c3c; }
}

@-moz-keyframes colorize
{
    0% { stroke: #e74c3c; }
    33% { stroke: #2ecc71; }
    66% { stroke: #3498db; }
    100% { stroke: #e74c3c; }
}

@-webkit-keyframes colorize
{
    0% { stroke: #e74c3c; }
    33% { stroke: #2ecc71; }
    66% { stroke: #3498db; }
    100% { stroke: #e74c3c; }
}

@-ms-keyframes colorize
{
    0% { stroke: #e74c3c; }
    33% { stroke: #2ecc71; }
    66% { stroke: #3498db; }
    100% { stroke: #e74c3c; }
}​

@-o-keyframes colorize
{
    0% { stroke: #e74c3c; }
    33% { stroke: #2ecc71; }
    66% { stroke: #3498db; }
    100% { stroke: #e74c3c; }
}
