doctype html
html(lang='en')
head
    meta(name='viewport', content='width=device-width')
    title='Tarik Onalan'
    link(href='style.css', rel='stylesheet')
    script(data-main='dist/index.min', src='dist/require.min.js')
body
    block content
