doctype html
html(lang='en')
    head
        title='Tarik Onalan'
        link(href='style.css', rel='stylesheet')
        script(data-main='dist/index.min', src='dist/require.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1')            
    body
        block content
