doctype html
html(lang='en')
head
    title='Tarik Onalan'
    
    link(href='style.css', rel='stylesheet')
    
    script(data-main='js/index', src='dist/libs.js')
body
    block content
    script(src='../js/index.js')
