doctype html
html(lang='en')
head
    title='Tarik Onalan'
    link(href='style.css', rel='stylesheet')
    script(data-main='dist/index.min', src='dist/require.min.js')
    script(src='dist/index.min.js')
body
    block content
